.navbar {
  margin-bottom: 40px;
}

h2, h3 {
  padding-bottom: 1em;
}

.blurb {
	padding: 0.8em 0 1.4em 0;
	font-size:18px;
	color:#999999;
}

.span4 ul li {
  margin-bottom: 1em;
}

a[href="#top"]{
  float:right;
}

hr {
  margin: 40px 0 40px 0;
}

#data-tags {
	display: none;
}