<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="{{lang}}"/>
    <title>Digital Media Projects</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>

    <div class="navbar" id="top">
      <div class="navbar-inner">
      <div class="container">
        <img src="/public/images/group.png" class="brand"/>
        <ul class="nav">
          <li><a href="/feeds/all">All</a></li>
          <li><a href="/feeds/planetjs">Planet.js</a></li>
          <li><a href="/feeds/community">Community</a></li>
        </ul>
      </div>
      </div>
    </div>

    <div class="container">
      
      <h1>Digital Media Projects</h1>
      <p class="blurb">A look at the final year projects of Digital Media students.</p>

      <div class="row">
        <div class="span8">   
            {{#resource}}
            <article>       
              <h3 id="{{date}}">
                <a href="{{#data}} {{link}} {{/data}}">{{#data}} {{title}} {{/data}}</a>
              </h3>
              <time>{{date}}</time>
                </br>
              Feed &rarr; <a href="/feeds/{{aggregation}}">{{aggregation}}</a>
                </br>
              Source &rarr; <cite><a href="{{source_link}}">{{source_link}}</a></cite>
                </br></br>
              {{#data}}
                {{{text_full}}}
              {{/data}}
              </br>
              <a href="#top">Top &uarr;</a>
              <hr>
            </article>
            {{/resource}}
        </div>
        <div class="span4">
          <div id="popular-words">
          </div>
          <h3>Archive</h3>
          <ul>
            {{#resource}}
            <li> <a href="#{{date}}">{{#data}} {{title}} {{/data}}</a> </br> <time>{{date}}</time> </li>
            {{/resource}}
          </ul>

        </div>  
      </div>
    </div>

    <div id="data-tags">{{#resource}}{{#data}}{{tags}}{{/data}}{{/resource}}</div>

    <script type="text/javascript" src="/public/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/public/js/blacklist.js"></script>

    <!-- Script files for making the date format nice to look at and calculating the most popular tags -->
    <script type="text/javascript">

      // pretty time

      jQuery('.span4 ul li time').each(function(i, el){

        var time = new Date(jQuery(el).text()),
            text = time.getDate()     + " / " +
                   (time.getMonth()+1)+ " / " +
                   time.getFullYear();

        jQuery(el).text(text);

      });

      // popular words

      // Copyright 2007 - 2009 Tavs Dokkedahl
      // Contact: http://www.jslab.dk/contact.php

      Array.prototype.unique =
        function() {
          var a = [];
          var l = this.length;
          for(var i=0; i<l; i++) {
            for(var j=i+1; j<l; j++) {
              // If this[i] is found later in the array
              if (this[i] === this[j])
                j = ++i;
            }
            a.push(this[i]);
          }
        return a;
      };

      // stackoverflow.com/questions/6565333/using-javascript-to-find-most-common-words-in-string
      // (modified)
      
      var wordCounts      = {},
          tagsMix         = $("#data-tags").text().split(","),
          tags            = [],
          popularityRange = [],
          popTags         = [];

      // Ignore case

      for (var i = 0; i < tagsMix.length; i++) {
        tags.push(tagsMix[i].toLowerCase());
      };

      // Remove junk tags
      for (var i = 0; i < BLACKLIST.length; i++) {
        for (var n = 0; n < tags.length; n++) {
          if(BLACKLIST[i] == tags[n]){
            tags[n] = "!JUNK";
          }
        };
      };

      for(var i = 0; i < tags.length; i++){
        if(tags[i] != "!JUNK"){
          if(!wordCounts[tags[i]]) wordCounts[tags[i]] = 0;
          wordCounts[tags[i]]++;
        }
      }


      for(var prop in wordCounts){
        popularityRange.push(wordCounts[prop]);
      }

      popularityRange = popularityRange.unique().sort(function(a, b){return b - a});
      popularityRange = popularityRange.splice(0, popularityRange.length / 1.5);

      for(var prop in wordCounts){
        for (var i = 0; i < popularityRange.length; i++) {
          if(wordCounts[prop] == popularityRange[i]){
            popTags.push(prop);
          }
        };
      }

      // Display

      var target = jQuery('#popular-words'),
          text   = "";

      target.html("<h3>Popular words</h3>");

      jQuery.each(popTags, function(i, val){
        text += val + ", ";
      });
      
      target.append("<p>" + text.substr(0, text.length-2) + "</p>");

    </script>

  </body>
</html>
