<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="{{lang}}"/>
    <title>Digital Media Projects</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>

    <div class="navbar" id="top">
      <div class="navbar-inner">
      <div class="container">
        <img src="/public/images/group.png" class="brand"/>
        <ul class="nav">
          <li><a href="/feeds/all">All</a></li>
          <li><a href="/feeds/planetjs">Planet.js</a></li>
          <li><a href="/feeds/community">Community</a></li>
        </ul>
      </div>
      </div>
    </div>

    <div class="container">
      
      <h1>Digital Media Projects</h1>
      <p class="blurb">A look at the final year projects of Digital Media students.</p>

      <div class="row">
        <div class="span8">   
            {{#resource}}
            <article>       
              <h3 id="{{date}}">
                <a href="{{#data}} {{link}} {{/data}}">{{#data}} {{title}} {{/data}}</a>
              </h3>
              <time>{{date}}</time>
                </br>
              Feed &rarr; <a href="/feeds/{{aggregation}}">{{aggregation}}</a>
                </br>
              Source &rarr; <cite><a href="{{source_link}}">{{source_link}}</a></cite>
                </br></br>
              {{#data}}
                {{{text_full}}}
              {{/data}}
              </br>
              <a href="#top">Top &uarr;</a>
              <hr>
            </article>
            {{/resource}}
        </div>
        <div class="span4">

          <h3>Popular words</h3>
          <h3>Archive</h3>
          <ul>
            {{#resource}}
            <li> <a href="#{{date}}">{{#data}} {{title}} {{/data}}</a> </br> <time>{{date}}</time> </li>
            {{/resource}}
          </ul>

        </div>  
      </div>
    </div>

    <script type="text/javascript" src="/public/js/jquery-1.4.4.min.js"></script>

    <!-- Script files for making the date format nice to look at -->
    <script type="text/javascript">

      jQuery('.span4 ul li time').each(function(i, el){

        var time = new Date(jQuery(el).text()),
            text = time.getDate()     + " / " +
                   (time.getMonth()+1)+ " / " +
                   time.getFullYear();

        jQuery(el).text(text);

      });

    </script>

  </body>
</html>
